.myheader {
  text-align: right;
  margin-top: 20px;
  margin-right: 20px;
}

.myfooter1 {
  text-align: left;
  position: fixed;
  bottom: 0px;
  margin-bottom: 15px;
  margin-left: 100px;
}

.myfooter2 {
  text-align: right;
  position: fixed;
  bottom: 0px;
  left: 1350px;
  margin-bottom: 15px;
}

.myimage {
  width: 128px;
  height: 128px;
  background-image: url(images/polibatam.png);
  background-repeat: no-repeat;
  position: fixed;
  right: 0px;
  margin-top: 50px;
  margin-right: 50px;
}